__pycache__/
*.pyc
flax/
!recurrentgemma/jax/
!recurrentgemma/jax/**
recurrentgemma/jax/__pycache__/__init__.cpython-313.pyc
recurrentgemma/jax/__pycache__/__init__.cpython-313.pyc
recurrentgemma/jax/__pycache__/__init__.cpython-313.pyc
recurrentgemma/jax/__pycache__/utils.cpython-313.pyc
recurrentgemma/jax/__pycache__/__init__.cpython-313.pyc
recurrentgemma/jax/__pycache__/array_typing.cpython-313.pyc
recurrentgemma/jax/__pycache__/complex_lib.cpython-313.pyc
recurrentgemma/jax/__pycache__/griffin.cpython-313.pyc
recurrentgemma/jax/__pycache__/layers.cpython-313.pyc
recurrentgemma/jax/__pycache__/modules.cpython-313.pyc
recurrentgemma/jax/__pycache__/pallas.cpython-313.pyc
recurrentgemma/jax/__pycache__/sampler.cpython-313.pyc
recurrentgemma/jax/__pycache__/scan.cpython-313.pyc
recurrentgemma/jax/__pycache__/utils.cpython-313.pyc
recurrentgemma/jax/__pycache__/utils.cpython-313.pyc
recurrentgemma/jax/__pycache__/scan.cpython-313.pyc
recurrentgemma/jax/__pycache__/sampler.cpython-313.pyc
recurrentgemma/jax/__pycache__/pallas.cpython-313.pyc
recurrentgemma/jax/__pycache__/modules.cpython-313.pyc
recurrentgemma/jax/__pycache__/layers.cpython-313.pyc
recurrentgemma/jax/__pycache__/griffin.cpython-313.pyc
recurrentgemma/jax/__pycache__/complex_lib.cpython-313.pyc
recurrentgemma/jax/__pycache__/array_typing.cpython-313.pyc
recurrentgemma/jax/__pycache__/__init__.cpython-313.pyc
