*__pycache__/
*.pyc
flax/
!recurrentgemma/jax/
!recurrentgemma/jax/**
models/recurrentgemma/recurrentgemma/jax/__pycache__/
models/recurrentgemma/recurrentgemma/jax/*.pyc
recurrentgemma/jax/__pycache__/__init__.cpython-312.pyc
recurrentgemma/jax/__pycache__/array_typing.cpython-312.pyc
recurrentgemma/jax/__pycache__/complex_lib.cpython-312.pyc
recurrentgemma/jax/__pycache__/griffin.cpython-312.pyc
recurrentgemma/jax/__pycache__/layers.cpython-312.pyc
recurrentgemma/jax/__pycache__/modules.cpython-312.pyc
recurrentgemma/jax/__pycache__/pallas.cpython-312.pyc
recurrentgemma/jax/__pycache__/sampler.cpython-312.pyc
recurrentgemma/jax/__pycache__/scan.cpython-312.pyc
recurrentgemma/jax/__pycache__/utils.cpython-312.pyc
